@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}


header{
  margin: 20px;
}


header h1{
  font-size: 35px;
  color: white;
  font-family: 'Lobster', cursive;
  background-color: black;
  padding: 15px;
  margin: 5px 5px 5px 35px;
}

button#show{
  margin: 5px;
}
button#hide{
  margin: 5px 5px 5px 35px;
}

form {
  font-size: 20px;
  padding: 20px;
  margin-left: 10px;
}

input[type='text'] {
  width: 150px;
}

div{
  margin: auto;
}
.recipe{
  display: inline-block;
  width: 250px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 20px;
  background-color: #DDDDDD;
}

.recipe .photo{
  height: 300px;
  background-size: cover;
  border-bottom: 1px solid #111111;
  margin-bottom: 10px;
}

.recipe .name{
  font-size: 20px;
  color: #001F3F;
  padding: 5px;
}

.recipe .directions, .recipe .ingredients{
  padding: 5px;
}

.recipe .ingredients li{
  position: relative;
  left: 20px;
}

